<div class="home">
     <h1>Movie Theater App</h1>
</div>
<div class= "movies-container">
     <% @movies.each do |m| %>
          <div class="movie">
               <%= link_to movie_path(m) do %>
               <%= image_tag "#{m.image}", alt: "#{m.title}", class: "movie-image" %>
               <h2> <%= "#{m.title}" %> </h2> 
               <% end %>
          </div>
     <% end %>
</div>






