<h2>Order Tickets</h2>

<%=form_for @order do |f| %>

 <%= render partial: 'layouts/errors', locals: {object: @order} %>
  <%= f.label :total_seats_selected %>
  <%= f.text_field :total_seats_selected %>

<% end %>