// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show-container {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: black 1px solid;
}

.showtime {
    margin: 15px;
    padding: 10px;
    border: gray 1px solid;
}

.show-header {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: black 1px solid;
    // height: 600px;
}

.show-info {
    margin: 15px;
}