// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show-container {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    // border: black 1px solid;
    width: 100%;
    
}

.showtime {
    margin: 15px;
    padding: 10px;
    border: gray 1px solid;
    text-align: center;
}
.showtime h3 {
    color: black;
    font-size: 1rem;
}

.showtime:hover {
    box-shadow: 5px 5px 4px 5px lightgray;
}

.show-header {
    margin-left: 27px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    // border: black 1px solid;

}

.show-info {
    margin-left: 15px;
}

.title {
    margin-top: 55px;
    margin-left: 25px;
}

@media screen and (min-width: 768px) {
    .show-container {
        font-size: 10px;
    }
}